/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  /* Шрифты */
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "PressStart2P", fantasy;
  
  /* Вес шрифта */
  --text-font-weight: 400;
  --title-font-weight: 700;
  
  /* Цвета */
  --bg-color: #f3f3f3;
  --text-color: #000;
  --accent-color: #000;
  --card-bg-color: #fff;
  --btn-border-color: #000;
  
  /* Цвета для иконки сердца */
  --heart-contour-color: #000;
  --heart-fill-color: #ff0000;
  --heart-sparks-color: #ff0000;
  
  /* Цвет обводки лейбла */
  --label-stroke-color: #fff;
  
  /* Ширина контента */
  --content-width: clamp(375px, 50%, 700px);
  
  /* Фоновое изображение с градиентами */
  --bg-image: 
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}

/* Стили для мобильных устройств */
@media (width <= 375px) {
  :root {
    --content-width: 100%;
  }
}
